#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.defineNavbarFont {
  font-family: "Montserrat", sans-serif;
}

.nav--burgerMenu-list-container main { /* Handled in this way in order to clear the path for the module swap with 'dynamicBurgerMenuClassname' */
  position: fixed;
  transition: 0.4s;
  max-width: 70%;
  min-width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 2%;
  background-color: #0d6efd;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav--burgerMenu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  list-style-type: none;
}

.nav--burgerMenu--hidden {
  translate: 100%;
  visibility: hidden;
  opacity: 0;
}

.nav--burgerMenu--visible {
  opacity: 1;
  visibility: visible;
}

.main--control {
  min-height: 100vh;
}

p {
  margin: 0;
}

.individualProduct__buttons--transitionHandler-ON {
  opacity: 1;
  transition: opacity 300ms;
}

.individualProduct__buttons--transitionHandler-OFF {
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
}

.socialMediaButton--custom img {
  transition: 0.5s;
}

.socialMediaButton--custom:hover img {
  transform: scale(104%);
}

.about_us__text {
  font-size: 23px;
  font-family: "Montserrat";
}

@media (max-width: 1450px) {
  .about_us__text {
    font-size: 21px;
  }
}
@media (max-width: 1310px) {
  .about_us__text {
    font-size: 18px;
  }
}
@media (max-width: 1150px) {
  .about_us__text {
    font-size: 15px;
  }
}
@media (max-width: 950px) {
  .about_us__text {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .about_us__text {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .about_us__text {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .about_us__text {
    font-size: 15px;
  }
}
.contactSection__text {
  font-family: "Montserrat";
}

.individualProductPage__title {
  font-family: "Bebas Neue";
}

.individualProductPage__availableSizes {
  font-size: 12px;
  font-family: "Montserrat";
  color: grey;
}

.individualProductPage__subtractButton {
  height: 1.7rem;
  width: 1.7rem;
}

.individualProductPage__addButton {
  font-family: "Bebas Neue";
  font-size: 25px;
}

.individualProductPage__descriptionText {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .individualProductPage__descriptionText {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .individualProductPage__descriptionText {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
